<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  </head>
  <body style="background-image: url(/static/background.avif);font-style: oblique;">
    <center><h1 style="size: 40;color: goldenrod;margin-top: 3%;"><b>Guess the actor name</b></h1></center>
    
    
    <div class="col-md-5" style="margin-left: 4%; margin-top: 2%;">
        <label style="color: white;"><b>Enter the guessed name here</b></label>
        <input type="text" id="inp"/>
        <button class="btn-dark" onclick="check()">submit</button>
    </div>
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;margin-left: 13%;background: linear-gradient(to bottom right,orange 3%,yellow 100%);">
                <div class="card-body">
                  <b><h5 class="card-title" style="color: purple;">Clue 1</h5></b>
                  <p class="card-text" style="color: white;" id="clu1"><b>If you get this, your total score will be deduced by 10</b></p>
                  <button  class="btn btn-primary" onclick="func1()">Get clue</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;margin-left: 13%;background: linear-gradient(to bottom right,orange 3%,yellow 100%);">
                <div class="card-body">
                  <h5 class="card-title" style="color: purple">Clue 2</h5>
                  <p class="card-text" style="color: white;"id="clu2"><b>If you get this, your total score will be deduced by 10</b></p>
                  <a  class="btn btn-primary" onclick="func2()">Get clue</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;margin-left: 13%;background: linear-gradient(to bottom right,orange 3%,yellow 100%);">
                <div class="card-body">
                  <h5 class="card-title" style="color: purple;">Clue 3</h5>
                  <p class="card-text" style="color: white;" id="clu3"><b>If you get this, your total score will be deduced by 10.</b></p>
                  <a  class="btn btn-primary" onclick="func3()">Get clue</a>
                </div>
              </div>
        </div>
        
    </div>
    <div class="row" style="margin-top: 6%;margin-left: 21%;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;margin-left: 13%;background: linear-gradient(to bottom right,orange 3%,yellow 100%);">
                <div class="card-body">
                  <h5 class="card-title" style="color: purple;">Clue 4</h5>
                  <p class="card-text" style="color: white;" id="clu4"><b>If you get this, your total score will be deduced by 10.</b></p>
                  <button  class="btn btn-primary" onclick="func4()">Get clue</button>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;margin-left: 13%;background: linear-gradient(to bottom right,orange 3%,yellow 100%);">
                <div class="card-body">
                  <h5 class="card-title" style="color: purple;">Clue 5</h5>
                  <p class="card-text" style="color: white;" id="clu5"><b>If you get this, your total score will be deduced by 10.</b></p>
                  <a  class="btn btn-primary" onclick="func5()">Get clue</a>
                </div>
              </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="/static/index.js"></script>
</body>
</html>