<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
  </head>
  <body style="background-image: url(/static/background.avif);">
    <center><h1 style="font-family: Comic Sans MS, Comic Sans, cursive; font-size: 72px; background: -webkit-linear-gradient(white, pink); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"><b>PUZZLE GAME</b></h1></center>
    <center>
    <div class="row" style="margin-top: 16%;">
        <div class="col-md-4" style="margin-left: 16%;">
            <div class="card" style="width: 18rem; cursor: pointer; background: linear-gradient(to bottom right,rgb(255, 0, 119) 3%,goldenrod 100%);" id="logincard">
                <div class="card-body">
                  <h5 class="card-title" style="color: white;"><b>LogIn</b></h5>
                  
                  <p class="card-text" style="color: white;">If you already have an account click here to login</p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; cursor: pointer; background: linear-gradient(to bottom right,rgb(255, 0, 119) 3%,goldenrod 100%);" id="registercard">
                <div class="card-body">
                  <h5 class="card-title" style="color: white;"><b>Register</b></h5>
                  
                  <p class="card-text" style="color:white">If you dont have an account click here to register</p>
                  
                </div>
              </div>
        </div>
    </div>
</center>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/new.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>