<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
    <body style="background-image: url(/static/background.avif);">
        <center><h1 style="size: 40;color: goldenrod;margin-top: 3%;"><b>Guess the actor name</b></h1></center>
        <center><h3>Score:100</h3></center>
        <div class="row" style="margin-top: 9%;">
            <div class="col-md-3">
                <div class="card">
                    <div class="card__inner" id="card" onclick="func()">
                        <div class="card__face card__face--front">
                            <h2>clue 1</h2>
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h1>hello</h1>
                                </div>
                                <div class="card__body">
                                    <h3>Javascript Wizard</h3>
                                    <p>##################################################</p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card__inner" id="card" onclick="func()">
                        <div class="card__face card__face--front">
                            <h2>clue 1</h2>
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h1>hello</h1>
                                </div>
                                <div class="card__body">
                                    <h3>Javascript Wizard</h3>
                                    <p>##################################################</p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card__inner" id="card" onclick="func()">
                        <div class="card__face card__face--front">
                            <h2>clue 1</h2>
                        </div>
                        <div class="card__face card__face--back">
                            <div class="card__content">
                                <div class="card__header">
                                    <h1>hello</h1>
                                </div>
                                <div class="card__body">
                                    <h3>Javascript Wizard</h3>
                                    <p>##################################################</p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    